<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9fe05ad5-cf3f-4667-b283-2214775eeccc/resourcegroups/BResourceGroup/providers/Microsoft.Web/sites/WebApplication20180520115651</ResourceId>
    <ResourceGroup>BResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapplication20180520115651.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication20180520115651.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication20180520115651</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication20180520115651</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:webapplication20180520115651dbserver.database.windows.net,1433;Initial Catalog=WebApplication20180520115651_db;User ID=mantas499@webapplication20180520115651dbserver;Password=Mantas123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication.Models.ApplicationDbContext, WebApplication" MigrationConfiguration="WebApplication.Migrations.Configuration, WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication20180520115651dbserver.database.windows.net,1433;Initial Catalog=WebApplication20180520115651_db;User ID=mantas499@webapplication20180520115651dbserver;Password=Mantas123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>